$fontColor: var(--fontColor);
$bgColor: var(--bgColor);
$ffRoboto: 'Roboto Condensed', sans-serif !important;
$ffPopins: 'Playfair Display', serif !important;

body{ overflow: hidden; }
/*wrapper that contains the app*/
.app_wrapper{
	background-color: $bgColor;
	color: $fontColor;
	transition: all .3s linear;
	/*height: 100vh;*/
	
	h2{
		font-size: calc( var(--base_font_size) * 2.2);
		line-height: calc( var(--base_font_size) * 2.4);
		font-weight: 500;
		color: $fontColor;
		transition: all .3s linear;
	}

	p{
		font-size: calc( var(--base_font_size) * 1.5);
		line-height: calc( var(--base_font_size) * 1.7);
		color: $fontColor;
		transition: all .3s linear;
	}

	/*top heading styles*/
	.header_wrapper{
		border-bottom: 4px dotted #ccc;

		.icon_hamburg{
			position: relative;
			display: inline-block;

			i{
				display: block;
				width: 22px;
				height: 2px;
				margin: 7px 0;
				background-color: $fontColor;
			}
		}

		.icon_mode{
			position: relative;
		}

		.lft{
			a{
				span{
					font-family: $ffRoboto;
					font-size: calc( var(--base_font_size) * 1.2);
					line-height: calc( var(--base_font_size) * 1.3);
					color: $fontColor;
					font-weight: 600;
				}
			}
		}

		.header_navs{
			a{
		    font-family: $ffRoboto;
		    font-size: calc( var(--base_font_size) * 1.1);
		    line-height: calc( var(--base_font_size) * 1.2);
		    font-weight: 700;
				margin: 0 2vw;
		    color: $fontColor;
		    text-transform: uppercase;
		    cursor: pointer;
			}
		}
	}

	/*article*/
	.art_info{
		span{
			color: $fontColor;
			font-family: $ffRoboto;
			font-size: calc( var(--base_font_size) * 1);
			line-height: calc( var(--base_font_size) * 1.2);
			font-weight: 600;
		}

		span.label{
			font-size: calc( var(--base_font_size) * .8);
			line-height: calc( var(--base_font_size) * 1);
			font-weight: 100;
			padding: .3vw .7vw;
			color: $bgColor;
			background-color: $fontColor;
			transition: all .3s linear;
		}
	}

	/*profile*/
	.profile_wrapper{
		background: var(--tc1);
	}

	.profile{
		img{
			border-radius: 100%;
			transition: all .2s ease-in;
			transform: scale(1);
			clip-path: circle(45%);
			filter: grayscale(0);
		}

		.art_info .label{
			font-size: calc( var(--base_font_size) * 1);
			line-height: calc( var(--base_font_size) * 1.2);
			font-weight: bold;
			transition: all .2s ease-in;
			transform: translateY(20px);
		}

		p{
			font-size: calc( var(--base_font_size) * 1.4);
			line-height: calc( var(--base_font_size) * 1.6);
			transition: all .2s ease-in;
			position: relative;
			opacity: 0;
			transform: translateX(-20px);
		}

		&:hover{
			img{
				clip-path: circle(40%);
				filter: grayscale(1);
			}

			.art_info .label{
				transform: translateY(0);
				color: #000;
				background-color: #fff;
			}

			p{
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

.theme-dark{
	.profile_wrapper{
		/*background: rgb(248 241 232 / 15%);*/
		background: #f8f1e826;
	}		
}

/*section seperator heading*/
.sec_seperator{
	font-family: $ffRoboto;
	font-size: calc( var(--base_font_size) * 2.5);
	line-height: calc( var(--base_font_size) * 2.6);
	font-weight: 900;
	padding: 1vw 0;
	border-top: 4px dotted #ccc;
	border-bottom: 4px dotted #ccc;
	text-transform: uppercase;
	text-align: center;
}

/*image mask hover effect*/
.hv_mask{
	overflow: hidden;
	clip-path: inset(0);
	filter: grayscale(0);
	transition: all .2s linear;

	img{
		transform: scale(1);
		transform-origin: center;
		transition: all .2s linear;
	}

	&:hover{
		filter: grayscale(1);
		clip-path: inset(10px);

		img{
			transform: scale(1.05);
		}
	}
}